/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
  
}

h1 {
  font-style: italic;
  font-family: verdana, arial, sans-serif;
  color: #e5a5b5;
}

button {
  padding: 15px;
  border-radius: 10px;
  margin: 2px;
  margin-bottom: 10px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 3px;
  
}

#gameOptions > button {
  padding: 20px;
  margin: 2px;
  margin-top: 50px;
}

.hidden{
  display: none;
}

#button1{
  background: lightgreen;
}
#button1:active, #button1.lit{
  background: green;
}

#button2{
  background: lightblue;
}
#button2:active, #button2.lit{
  background: dodgerblue;
}

#button3{
  background: pink;
}
#button3:active, #button3.lit{
  background: red;
}

#button4{
  background: lightyellow;
}
#button4:active, #button4.lit{
  background: yellow;
}
#button5{
  background: tan;
}
#button5:active, #button5.lit{
  background: rosybrown;
  background-image: url(https://cdn.glitch.com/b5564738-3c71-4f44-8d96-4abab7651218%2Feagle.jpeg?v=1616552814411)
}

img {
  margin: 2px; 

}
#photo>img{
  padding-top:50px;
  border-radius: 4px;
  
  
}